.jumbotron {
    background-image: url("http://2.bp.blogspot.com/-stkXzKK-6D4/Up4XGZ6oSXI/AAAAAAAAAbo/YSQ4rBA0lqk/s1600/roundhouse-kick-chuck-norris.jpg");
    background-position: right;
    background-repeat: no-repeat;
}